In [1]:
# Import packages
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
# Load data
data = pd.read_excel('C:/Users/arsen/OneDrive/Desktop/salary_data_states.xlsx')

In [3]:
data.head(20)

,CASE_NUMBER,CASE_STATUS,CASE_RECEIVED_DATE,DECISION_DATE,EMPLOYER_NAME,PREVAILING_WAGE_SUBMITTED,PREVAILING_WAGE_SUBMITTED_UNIT,PAID_WAGE_SUBMITTED,PAID_WAGE_SUBMITTED_UNIT,JOB_TITLE,...,PREVAILING_WAGE_SOC_TITLE,WORK_STATE,WORK_STATE_ABBREVIATION,WORK_POSTAL_CODE,FULL_TIME_POSITION_Y_N,VISA_CLASS,PREVAILING_WAGE_PER_YEAR,PAID_WAGE_PER_YEAR,JOB_TITLE_SUBGROUP,order
0,I-200-14073-248840,denied,3/14/2014,3/21/2014,"ADVANCED TECHNOLOGY GROUP USA, INC.",6217100.0,year,62171.0,year,SOFTWARE ENGINEER,...,"Software Developers, Applications",Illinois,IL,NaN,y,H-1B,NaN,62171.0,software engineer,1
1,A-15061-55212,denied,3/19/2015,3/19/2015,SAN FRANCISCO STATE UNIVERSITY,5067600.0,year,91440.0,year,Assistant Professor of Marketing,...,"Business Teachers, Postsecondary",California,CA,94132.0,NaN,greencard,NaN,91440.0,assistant professor,2
2,I-200-13256-001092,denied,9/13/2013,9/23/2013,CAROUSEL SCHOOL,4947000.0,year,49470.0,year,SPECIAL EDUCATION TEACHER,...,"Special Education Teachers, Kindergarten and E...",California,CA,NaN,y,H-1B,NaN,49470.0,teacher,3
3,I-200-14087-353657,denied,3/28/2014,4/7/2014,HARLINGEN CONSOLIDATED INDEPENDENT SCHOOL DIST...,251052.0,month,43800.0,year,SCIENCE TEACHER,...,"Biological Science Teachers, Postsecondary",Texas,TX,NaN,y,H-1B,NaN,43800.0,teacher,4
4,I-203-14259-128844,denied,9/16/2014,9/23/2014,SIGNAL SCIENCES CORPORATION,84573.0,bi-weekly,170000.0,year,SENIOR SOFTWARE ENGINEER,...,"Software Developers, Systems Software",Oregon,OR,NaN,y,E-3 Australian,NaN,170000.0,software engineer,5
5,I-200-14092-483272,denied,4/2/2014,4/9/2014,CAPGEMINI U.S. LLC,113610.0,month,114421.0,year,ORACLE SCM ANALYST/BUSINESS ANALYST,...,Computer Systems Analysts,California,CA,NaN,y,H-1B,NaN,114421.0,business analyst,6
6,I-200-13084-487292,denied,3/25/2013,3/28/2013,"PURE STORAGE, INC.",1333328.0,year,145000.0,year,SENIOR SOFTWARE ENGINEER,...,"Software Developers, Applications",California,CA,NaN,y,H-1B,NaN,145000.0,software engineer,7
7,I-200-13126-805026,denied,5/6/2013,5/8/2013,"POLMAK, INC.",104458.0,month,104458.0,year,SOFTWARE ENGINEER,...,"Software Developers, Applications",New Jersey,NJ,NaN,y,H-1B,NaN,104458.0,software engineer,8
8,I-200-13128-133480,denied,5/10/2013,5/14/2013,GOOGLE INC.,1212002.0,year,160000.0,year,SOFTWARE ENGINEER,...,"Software Developers, Applications",New York,NY,NaN,y,H-1B,NaN,160000.0,software engineer,9
9,I-200-14069-400950,denied,3/10/2014,3/18/2014,"STLPORT CONSULTING, INC.",98675.0,month,98675.0,year,SOFTWARE ENGINEER,...,"Software Developers, Applications",California,CA,NaN,y,H-1B,NaN,98675.0,software engineer,10
10,I-200-11332-593285,denied,11/28/2011,11/28/2011,"ESPN DIGITAL MEDIA, INC.",98654.0,month,110000.0,year,SR. SOFTWARE ENGINEER,...,"Software Developers, Applications",Connecticut,CT,NaN,y,H-1B,NaN,110000.0,software engineer,11
11,I-200-14093-494144,denied,4/3/2014,4/9/2014,"VERTAFORE, INC.",1111176.0,year,115000.0,year,SR. BUSINESS ANALYST,...,Management Analysts,Washington,WA,NaN,y,H-1B,NaN,115000.0,business analyst,12
12,I-200-11172-152960,certified-withdrawn,6/21/2011,9/13/2013,SYMANTEC CORPORATION,90460.0,month,90460.0,year,SOFTWARE ENGINEER,...,"Computer Software Engineers, Applications",California,CA,NaN,y,H-1B,NaN,90460.0,software engineer,13
13,I-200-14006-541882,denied,1/16/2014,1/21/2014,INTEL CORPORATION,82846.0,month,82846.0,year,SOFTWARE ENGINEER,...,"Software Developers, Systems Software",Oregon,OR,NaN,y,H-1B,NaN,82846.0,software engineer,14
14,I-200-14027-258414,denied,2/5/2014,2/10/2014,GOOGLE INC.,987675.0,year,105000.0,year,SOFTWARE ENGINEER,...,"Software Developers, Applications",California,CA,NaN,y,H-1B,NaN,105000.0,software engineer,15
15,I-200-11300-850439,denied,11/1/2011,11/8/2011,THOMSON REUTERS (MARKETS) LLC,963000.0,year,96300.0,year,SOFTWARE ENGINEER,...,"Software Developers, Applications",Maryland,MD,NaN,y,H-1B,NaN,96300.0,software engineer,16
16,I-200-13072-331858,denied,3/13/2013,3/18/2013,"ROHDE & SCHWARZ, INC.",926914.0,year,115000.0,year,PROTOCOL SOFTWARE ENGINEER,...,"Software Developers, Applications",Oregon,OR,NaN,y,H-1B,NaN,115000.0,software engineer,17
17,I-200-13311-440603,denied,11/19/2013,11/22/2013,QUALCOMM INNOVATION CENTER INC.,923252.0,year,92352.0,year,SENIOR SOFTWARE ENGINEER,...,"Software Developers, Systems Software",California,CA,NaN,y,H-1B,NaN,92352.0,software engineer,18
18,I-200-13142-612073,denied,5/22/2013,5/28/2013,SARANSH INC,75982.0,month,75982.0,year,SOFTWARE ENGINEER,...,"Software Developers, Applications",North Carolina,NC,NaN,y,H-1B,NaN,75982.0,software engineer,19
19,I-200-13274-808058,withdrawn,10/1/2013,10/1/2013,"SECURE ENDPOINTS, INC.",890000.0,year,100001.0,year,SOFTWARE ENGINEER,...,"Software Developers, Applications",New York,NY,NaN,y,H-1B,NaN,100001.0,software engineer,20

In [4]:
data.tail(20)

,CASE_NUMBER,CASE_STATUS,CASE_RECEIVED_DATE,DECISION_DATE,EMPLOYER_NAME,PREVAILING_WAGE_SUBMITTED,PREVAILING_WAGE_SUBMITTED_UNIT,PAID_WAGE_SUBMITTED,PAID_WAGE_SUBMITTED_UNIT,JOB_TITLE,...,PREVAILING_WAGE_SOC_TITLE,WORK_STATE,WORK_STATE_ABBREVIATION,WORK_POSTAL_CODE,FULL_TIME_POSITION_Y_N,VISA_CLASS,PREVAILING_WAGE_PER_YEAR,PAID_WAGE_PER_YEAR,JOB_TITLE_SUBGROUP,order
167258,I-200-14141-164672,denied,5/21/2014,5/28/2014,"CHINESE BIBLE CHURCH INTERNATIONAL, INC.",7.25,hour,7.28,hour,TEACHER,...,"Teachers and Instructors, All Other",Northern Mariana Islands,MP,NaN,y,H-1B,15080.0,15142.4,teacher,167342
167259,I-200-14154-104096,certified,6/3/2014,6/9/2014,"CHINESE BIBLE CHURCH INTERNATIONAL, INC.",7.25,hour,7.28,hour,TEACHER,...,"Teachers and Instructors, All Other",Northern Mariana Islands,MP,NaN,y,H-1B,15080.0,15142.4,teacher,167343
167260,I-200-13157-986737,certified,6/6/2013,6/12/2013,"CHINESE BIBLE CHURCH INTERNATIONAL, INC.",7.25,hour,7.28,hour,ELEMENTARY TEACHER,...,"Elementary School Teachers, Except Special Edu...",Northern Mariana Islands,MP,NaN,y,H-1B,15080.0,15142.4,teacher,167344
167261,I-200-13238-846947,denied,8/26/2013,8/30/2013,"CHINESE BIBLE CHURCH INTERNATIONAL, INC.",7.25,hour,7.26,hour,TEACHER,...,"Art, Drama, and Music Teachers, Postsecondary",Northern Mariana Islands,MP,NaN,n,H-1B,15080.0,15100.8,teacher,167345
167262,I-200-12241-345297,certified-withdrawn,8/28/2012,6/6/2013,"CHINESE BIBLE CHURCH INTERNATIONAL, INC.",7.25,hour,7.26,hour,MIDDLE SCHOOL TEACHERS,...,"Middle School Teachers, Except Special and Car...",Northern Mariana Islands,MP,NaN,y,H-1B,15080.0,15100.8,teacher,167346
167263,I-200-12241-792672,certified-withdrawn,8/28/2012,6/6/2013,"CHINESE BIBLE CHURCH INTERNATIONAL, INC.",7.25,hour,7.26,hour,MIDDLE SCHOOL TEACHERS,...,"Middle School Teachers, Except Special and Car...",Northern Mariana Islands,MP,NaN,y,H-1B,15080.0,15100.8,teacher,167347
167264,I-200-12241-507351,certified-withdrawn,8/28/2012,6/6/2013,"CHINESE BIBLE CHURCH INTERNATIONAL, INC.",7.25,hour,7.26,hour,MIDDLE SCHOOL TEACHERS,...,"Middle School Teachers, Except Special and Car...",Northern Mariana Islands,MP,NaN,y,H-1B,15080.0,15100.8,teacher,167348
167265,I-200-12241-398743,certified-withdrawn,8/28/2012,6/6/2013,"CHINESE BIBLE CHURCH INTERNATIONAL, INC.",7.25,hour,7.26,hour,MIDDLE SCHOOL TEACHERS,...,"Middle School Teachers, Except Special and Car...",Northern Mariana Islands,MP,NaN,y,H-1B,15080.0,15100.8,teacher,167349
167266,I-200-11305-419642,certified-withdrawn,11/1/2011,11/7/2011,"CHINESE BIBLE CHURCH INTERNATIONAL, INC.",7.25,hour,7.26,hour,PRESCHOOL TEACHER,...,"Preschool Teachers, Except Special Education",Northern Mariana Islands,MP,NaN,y,H-1B,15080.0,15100.8,teacher,167350
167267,I-200-11303-756453,denied,10/30/2011,11/1/2011,"CHINESE BIBLE CHURCH INTERNATIONAL, INC.",7.25,hour,5.05,hour,PRESCHOOL TEACHER,...,"Preschool Teachers, Except Special Education",Northern Mariana Islands,MP,NaN,y,H-1B,15080.0,10504.0,teacher,167351
167268,I-203-15014-844277,denied,1/14/2015,1/22/2015,RESCUE RESPONSE GEAR INC.,1000.00,month,1000.00,month,TEACHER AND INSTRUCTOR,...,"TEACHERS AND INSTRUCTORS, ALL OTHER",Oregon,OR,97701,n,E-3 Australian,12000.0,12000.0,teacher,167352
167269,I-200-14071-935389,denied,3/12/2014,3/20/2014,SACRED HEART SCHOOL,11500.00,year,22800.00,year,RELIGION TEACHER,...,"Directors, Religious Activities and Education",Texas,TX,NaN,y,H-1B,11500.0,22800.0,teacher,167353
167270,I-200-12241-089395,certified-withdrawn,8/28/2012,6/6/2013,"CHINESE BIBLE CHURCH INTERNATIONAL, INC.",5.05,hour,5.60,hour,MIDDLE SCHOOL TEACHERS,...,"Middle School Teachers, Except Special and Car...",Northern Mariana Islands,MP,NaN,y,H-1B,10504.0,11648.0,teacher,167354
167271,I-200-12241-745406,certified-withdrawn,8/28/2012,6/6/2013,"CHINESE BIBLE CHURCH INTERNATIONAL, INC.",5.05,hour,5.60,hour,MIDDLE SCHOOL TEACHERS,...,"Middle School Teachers, Except Special and Car...",Northern Mariana Islands,MP,NaN,y,H-1B,10504.0,11648.0,teacher,167355
167272,I-200-12241-762461,certified-withdrawn,8/28/2012,6/6/2013,"CHINESE BIBLE CHURCH INTERNATIONAL, INC.",5.05,hour,5.60,hour,MIDDLE SCHOOL TEACHERS,...,"Middle School Teachers, Except Special and Car...",Northern Mariana Islands,MP,NaN,y,H-1B,10504.0,11648.0,teacher,167356
167273,I-200-12241-209885,certified-withdrawn,8/28/2012,6/6/2013,"CHINESE BIBLE CHURCH INTERNATIONAL, INC.",5.05,hour,5.60,hour,MIDDLE SCHOOL TEACHERS,...,"Middle School Teachers, Except Special and Car...",Northern Mariana Islands,MP,NaN,y,H-1B,10504.0,11648.0,teacher,167357
167274,I-200-11305-143547,denied,11/1/2011,11/3/2011,"CHINESE BIBLE CHURCH INTERNATIONAL, INC.",5.05,hour,5.25,hour,PRESCHOOL TEACHER,...,"Preschool Teachers, Except Special Education",Northern Mariana Islands,MP,NaN,y,H-1B,10504.0,10920.0,teacher,167358
167275,I-200-11313-833007,certified,11/9/2011,11/16/2011,"CHINESE BIBLE CHURCH INTERNATIONAL, INC.",5.05,hour,5.25,hour,TEACHER,...,"Teachers and Instructors, All Other*",Northern Mariana Islands,MP,NaN,y,H-1B,10504.0,10920.0,teacher,167359
167276,I-200-11312-798611,denied,11/8/2011,11/15/2011,"CHINESE BIBLE CHURCH INTERNATIONAL, INC.",5.05,hour,5.10,hour,PRESCHOOL TEACHER,...,"Preschool Teachers, Except Special Education",Northern Mariana Islands,MP,NaN,y,H-1B,10504.0,10608.0,teacher,167360
167277,I-200-11297-523711,denied,10/24/2011,10/26/2011,"CHINESE BIBLE CHURCH INTERNATIONAL, INC.",5.05,hour,5.05,hour,PRESCHOOL TEACHER,...,"Preschool Teachers, Except Special Education",Northern Mariana Islands,MP,NaN,y,H-1B,10504.0,10504.0,teacher,167361

In [5]:
# Look for job titles
job_title = pd.unique(data['JOB_TITLE_SUBGROUP'])
print(job_title)

['software engineer' 'assistant professor' 'teacher' 'business analyst'
 'management consultant' 'data analyst' 'attorney' 'data scientist']

In [6]:
# Convert wage columns to numeric values
data['PREVAILING_WAGE_PER_YEAR'] = pd.to_numeric(data['PREVAILING_WAGE_PER_YEAR'])
data['PAID_WAGE_PER_YEAR'] = pd.to_numeric(data['PAID_WAGE_PER_YEAR'])

In [7]:
# COMPARE BASED ON JOB TITLES

In [8]:
# Calcualte average of prevailing wage per year by job titles
avg_prevailing_wage = data.groupby('JOB_TITLE_SUBGROUP')['PREVAILING_WAGE_PER_YEAR'].mean()
avg_prevailing_wage

JOB_TITLE_SUBGROUP
assistant professor       58831.682270
attorney                 106648.374274
business analyst          64747.657608
data analyst              62754.265046
data scientist            90545.579707
management consultant     77608.242965
software engineer         84066.596291
teacher                   42391.373720
Name: PREVAILING_WAGE_PER_YEAR, dtype: float64

In [9]:
# Calcualte average of paid wage per year by job titles
avg_paid_wage = data.groupby('JOB_TITLE_SUBGROUP')['PAID_WAGE_PER_YEAR'].mean()
avg_paid_wage

JOB_TITLE_SUBGROUP
assistant professor       94876.713707
attorney                 146413.596714
business analyst          71300.079566
data analyst              70030.078688
data scientist           108021.038248
management consultant    108251.334662
software engineer         92505.303013
teacher                   46039.985507
Name: PAID_WAGE_PER_YEAR, dtype: float64

In [10]:
# Calculate the difference between prevailing wage per year and paid wage per year
wage_difference = avg_prevailing_wage - avg_paid_wage
wage_difference.sort_values()

JOB_TITLE_SUBGROUP
attorney                -39765.222440
assistant professor     -36045.031438
management consultant   -30643.091697
data scientist          -17475.458541
software engineer        -8438.706723
data analyst             -7275.813642
business analyst         -6552.421957
teacher                  -3648.611786
dtype: float64

In [11]:
# COMPARE BASED ON COMPANIES

In [12]:
# Look for employers names
employer_name = data['EMPLOYER_NAME'].value_counts()
print(employer_name)

GOOGLE INC.                                           6213
FUJITSU AMERICA, INC.                                 1814
INTEL CORPORATION                                     1781
MICROSOFT CORPORATION                                 1364
QUALCOMM TECHNOLOGIES, INC.                           1277
                                                      ...
SYSTEM LOGISTICS CORPORATION                             1
OMAZE, INC.                                              1
FRESENIUS HEALTH PARTNERS CARE SYSTEMS, INC., A FR       1
BARNES GROUP INC.                                        1
SACRED HEART SCHOOL                                      1
Name: EMPLOYER_NAME, Length: 23773, dtype: int64

In [13]:
# Number of employers
data['EMPLOYER_NAME'].nunique()

23773

In [14]:
# Calculate the average paid wage and prevailing wage for each employer
wage_by_employer = data.groupby('EMPLOYER_NAME').mean()[['PREVAILING_WAGE_PER_YEAR', 'PAID_WAGE_PER_YEAR']]
wage_by_employer

,PREVAILING_WAGE_PER_YEAR,PAID_WAGE_PER_YEAR
EMPLOYER_NAME,,
(HOUSEHOLD OF SANDRA SIRUGO & JORGE D. JAURY),41204.8,41288.000000
05MEDIA INC.,71261.0,82000.000000
"0XDATA, INC.",116896.0,132500.000000
1 ALLIANCE GROUP LLC,85738.0,95000.000000
1 TO 1 MARKETING LLC,64910.0,93333.333333
...,...,...
eAudit LLC,68827.0,68827.000000
iMed EMR Software,56430.0,58000.000000
servotech engineering,80163.0,80163.000000
xena technologies,102315.0,103500.000000
"ËNIMAI, INC.",109138.0,115000.000000

In [15]:
# Calculate the difference between the average paid wage and prevailing wage for each employer
wage_by_employer['DIFFERENCE'] = wage_by_employer['PAID_WAGE_PER_YEAR'] - wage_by_employer['PREVAILING_WAGE_PER_YEAR']
wage_by_employer

,PREVAILING_WAGE_PER_YEAR,PAID_WAGE_PER_YEAR,DIFFERENCE
EMPLOYER_NAME,,,
(HOUSEHOLD OF SANDRA SIRUGO & JORGE D. JAURY),41204.8,41288.000000,83.200000
05MEDIA INC.,71261.0,82000.000000,10739.000000
"0XDATA, INC.",116896.0,132500.000000,15604.000000
1 ALLIANCE GROUP LLC,85738.0,95000.000000,9262.000000
1 TO 1 MARKETING LLC,64910.0,93333.333333,28423.333333
...,...,...,...
eAudit LLC,68827.0,68827.000000,0.000000
iMed EMR Software,56430.0,58000.000000,1570.000000
servotech engineering,80163.0,80163.000000,0.000000
xena technologies,102315.0,103500.000000,1185.000000
"ËNIMAI, INC.",109138.0,115000.000000,5862.000000

In [16]:
# Identify employers that tend to overpay or underpay

In [17]:
overpaid = wage_by_employer[wage_by_employer['DIFFERENCE'] > 0]
overpaid

,PREVAILING_WAGE_PER_YEAR,PAID_WAGE_PER_YEAR,DIFFERENCE
EMPLOYER_NAME,,,
(HOUSEHOLD OF SANDRA SIRUGO & JORGE D. JAURY),41204.800000,41288.000000,83.200000
05MEDIA INC.,71261.000000,82000.000000,10739.000000
"0XDATA, INC.",116896.000000,132500.000000,15604.000000
1 ALLIANCE GROUP LLC,85738.000000,95000.000000,9262.000000
1 TO 1 MARKETING LLC,64910.000000,93333.333333,28423.333333
...,...,...,...
"ZYTUS, INC",60507.000000,66500.000000,5993.000000
ZYWIE INC.,72779.333333,85000.000000,12220.666667
iMed EMR Software,56430.000000,58000.000000,1570.000000
xena technologies,102315.000000,103500.000000,1185.000000
"ËNIMAI, INC.",109138.000000,115000.000000,5862.000000

In [18]:
underpaid = wage_by_employer[wage_by_employer['DIFFERENCE'] < 0]
underpaid

,PREVAILING_WAGE_PER_YEAR,PAID_WAGE_PER_YEAR,DIFFERENCE
EMPLOYER_NAME,,,
"ACCESS ONE ATM, INC.",27040.000000,20800.000000,-6240.000000
"ACE TECH, INC.",54731.600000,52765.600000,-1966.000000
ADVANCED INFORMATION MANAGEMENT TECHNOLOGY PARTNER,101080.000000,82500.000000,-18580.000000
"ADVANTAGE TECHNICAL RESOURCING, INC.",87048.892308,86500.340741,-548.551567
"AEGIS FOUNDRY, LLC",76140.000000,70000.000000,-6140.000000
...,...,...,...
WESTERN WASHINGTON UNIVERSITY,61746.685714,59369.889524,-2376.796190
"WORSHIPERS' HOUSE OF PRAYER, INC.",31720.000000,31000.000000,-720.000000
YOTTA SYSTEMS INC,61512.666667,61336.000000,-176.666667
"ZOOSK, INC.",96710.852941,96709.970588,-0.882353
ZWICK ART L.L.C,30160.000000,28153.333333,-2006.666667